# Data Science Tools and Ecosystem

In this notebook, various data science tools and aspects of the data science ecosystem are summarised.

The objectives of this notebook are:

**Objectives:**

- To identify several popular languages used by data scientists.
- To identify several common libraries used by data scientists.
- To demonstrate how basic arithmetic expressions are evaluated in Python.

Amongst some of the most popular languages used by data scientists are:

1. Python
2. R
3. C++
4. Java
5. Julia

Amongst some of the most common libraries used by data scientists are:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Lab / Jupyter Notebooks |
| Spyder |
| RStudio |

### A couple of examples of how to evaluate arithmetic expressions in Python are provided below.

In [50]:
# Below is a simple arithmetic expression that shows how to multiply integers and add integers:

(3*4)+5

17

In [51]:
# This cell coverts 200 minutes into hours by dividing by 60.

200/60

3.3333333333333335

## Author:

Robert C